[run]
source =
    bluesky_queueserver_api
[report]
omit =
    */python?.?/*
    .*version.*
    *_version.py
    ./setup.py
    ./versioneer.py
    ./docs/*
    */tests/*

exclude_lines =
    if __name__ == '__main__':
